@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

:root {
--TitleFont:  --MainFont: "Oswald", sans-serif;
--LetterFont: 'Helvetica Neue', Arial, sans-serif;
--Green: rgb(123,182,119);
--Yellow: rgb(211,191,107);
--Grey:  rgb(139,143,145);
}

.container {
    width: 350px;
    height: 95vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    border-radius: 25px;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}


.Title{
    font-family: var(--LetterFont);
    text-transform: uppercase;
    color: var(--Grey);
    font-size: 2rem;
    font-weight: 700;
}

.letterBox-Container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}

.letterBox{
    margin-right: 5px;
    width: 57px;
    height: 57px;
    color: white;
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;
    border: none;
    font-weight: 700;
}

.letterBox:focus {
    outline: none; /* Hides the default focus outline */
    box-shadow: 0 0 0 2px black; /* Adds a custom black outline using box-shadow */
}
.footer {
    margin-top: auto;
    text-align: center; 
    color: var(--Grey);
}

/* Tool Tips */
.Footerlink {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .Footerlink .tooltiptext {
    visibility: hidden;
    background-color: var(--Green);
    color: #fff;
    text-align: center;
    width: max-content;
    border-radius: 6px;
    font-size: .8rem;
    padding: 5px 5px; 
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    transform: translateX(-50%); 
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); 
  }
  
  .Footerlink:hover .tooltiptext {
    visibility: visible;
  }
  
  .FooterReactIcon {
    font-size: 1.5rem;
    color: var(--Grey);
  }
  
  .FooterReactIcon:hover {
    color: var(--Green);
  }

  .PopUpReactIcon {
    color: var(--Grey);
  }
  
  .PopUpReactIcon:hover {
    color: var(--Yellow);
  }
  

  /* PopUp Window */
  .PopUpShade {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
  }
  
  .PopUpWindow {
    background-color: aliceblue;
    z-index: 1001;
    width: 300px;
    text-align: center; 
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
    padding: 20px;
}

.PopUpWindow p{
    color: var(--Grey);
    text-align: justify;
    padding: 10px;
}